/*--COLORES--*/
/*--TAMANIOS--*/
.container-circule {
  position: relative;
  width: 20em;
  height: 20em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  margin: 5em auto 0;
  border: solid 5px tomato; }
  .container-circule > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6em;
    height: 6em;
    margin: -3em; }
    .container-circule > *:nth-of-type(1) {
      transform: rotate(0deg) translate(10em) rotate(0deg); }
    .container-circule > *:nth-of-type(2) {
      transform: rotate(45deg) translate(10em) rotate(-45deg); }
    .container-circule > *:nth-of-type(3) {
      transform: rotate(90deg) translate(10em) rotate(-90deg); }
    .container-circule > *:nth-of-type(4) {
      transform: rotate(135deg) translate(10em) rotate(-135deg); }
    .container-circule > *:nth-of-type(5) {
      transform: rotate(180deg) translate(10em) rotate(-180deg); }
    .container-circule > *:nth-of-type(6) {
      transform: rotate(225deg) translate(10em) rotate(-225deg); }
    .container-circule > *:nth-of-type(7) {
      transform: rotate(270deg) translate(10em) rotate(-270deg); }
    .container-circule > *:nth-of-type(8) {
      transform: rotate(315deg) translate(10em) rotate(-315deg); }
  .container-circule .esfera {
    background: #ff9933;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 5px; }
  .container-circule .estrella-1 .star-five {
    margin: 35px 27px;
    position: relative;
    display: block;
    color: #ff0000;
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-bottom: 17.5px solid #ff0000;
    border-left: 25px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg); }
  .container-circule .estrella-1 .star-five:before {
    border-bottom: 20px solid #ff0000;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -11.25px;
    left: -16.25px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg); }
  .container-circule .estrella-1 .star-five:after {
    position: absolute;
    display: block;
    color: #ff0000;
    top: 0.75px;
    left: -26.25px;
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-bottom: 17.5px solid #ff0000;
    border-left: 25px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: ''; }
  .container-circule .estrella-2 .star-five {
    margin: 30px 22px;
    position: relative;
    display: block;
    color: #ff0000;
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 14px solid #ff0000;
    border-left: 20px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg); }
  .container-circule .estrella-2 .star-five:before {
    border-bottom: 16px solid #ff0000;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -9px;
    left: -13px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg); }
  .container-circule .estrella-2 .star-five:after {
    position: absolute;
    display: block;
    color: #ff0000;
    top: 0.6px;
    left: -21px;
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 14px solid #ff0000;
    border-left: 20px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: ''; }
  .container-circule .estrella-3 .star-five {
    margin: 25px 17px;
    position: relative;
    display: block;
    color: #ff0000;
    width: 0px;
    height: 0px;
    border-right: 15px solid transparent;
    border-bottom: 10.5px solid #ff0000;
    border-left: 15px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg); }
  .container-circule .estrella-3 .star-five:before {
    border-bottom: 12px solid #ff0000;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -6.75px;
    left: -9.75px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg); }
  .container-circule .estrella-3 .star-five:after {
    position: absolute;
    display: block;
    color: #ff0000;
    top: 0.45px;
    left: -15.75px;
    width: 0px;
    height: 0px;
    border-right: 15px solid transparent;
    border-bottom: 10.5px solid #ff0000;
    border-left: 15px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: ''; }
  .container-circule .estrella-4 .star-five {
    margin: 20px 12px;
    position: relative;
    display: block;
    color: #ff0000;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #ff0000;
    border-left: 10px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg); }
  .container-circule .estrella-4 .star-five:before {
    border-bottom: 8px solid #ff0000;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg); }
  .container-circule .estrella-4 .star-five:after {
    position: absolute;
    display: block;
    color: #ff0000;
    top: 0.3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #ff0000;
    border-left: 10px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: ''; }
  .container-circule .estrella-5 .star-five {
    margin: 20px 12px;
    position: relative;
    display: block;
    color: #ff0000;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #ff0000;
    border-left: 10px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg); }
  .container-circule .estrella-5 .star-five:before {
    border-bottom: 8px solid #ff0000;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg); }
  .container-circule .estrella-5 .star-five:after {
    position: absolute;
    display: block;
    color: #ff0000;
    top: 0.3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #ff0000;
    border-left: 10px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: ''; }
  .container-circule .estrella-6 .star-five {
    margin: 20px 12px;
    position: relative;
    display: block;
    color: #ff0000;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #ff0000;
    border-left: 10px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg); }
  .container-circule .estrella-6 .star-five:before {
    border-bottom: 8px solid #ff0000;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg); }
  .container-circule .estrella-6 .star-five:after {
    position: absolute;
    display: block;
    color: #ff0000;
    top: 0.3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #ff0000;
    border-left: 10px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: ''; }
  .container-circule .estrella-7 .star-five {
    margin: 20px 12px;
    position: relative;
    display: block;
    color: #ff0000;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #ff0000;
    border-left: 10px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg); }
  .container-circule .estrella-7 .star-five:before {
    border-bottom: 8px solid #ff0000;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg); }
  .container-circule .estrella-7 .star-five:after {
    position: absolute;
    display: block;
    color: #ff0000;
    top: 0.3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #ff0000;
    border-left: 10px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: ''; }

/*# sourceMappingURL=main.css.map */
